<div class="author-card">
    <img src="/images/sterling-cooley.jpg" alt="Sterling Cooley" class="author-image">
    <div class="author-bio">
        <p>Sterling Cooley is a world-renowned educator on the empowerment one gets from effective Vagus Nerve Stimulation. You can find him speaking through Live Daylong Workshops on the power of Ultrasound Stimulation of the Vagus Nerve through his newly created <a href="https://VagusSkool.com" target="_blank" rel="noopener">VagusSkool.com</a> project, and join his free online community at <a href="https://Skool.com/vagus" target="_blank" rel="noopener">Skool.com/vagus</a></p>
    </div>
</div> 