    <footer>
        <div class="footer-content">
            <img src="/images/VAGUSHUB_LOGO.png" alt="VagusHub" class="footer-logo">
            <p>&copy; <%= new Date().getFullYear() %> Vagus Hub</p>
        </div>
    </footer>
</body>
</html> 