<%- include('../partials/header') %>

<main class="blog-post-page">
    <article class="blog-post-content">
        <header class="post-header">
            <h1>We Can Go Away Any Day: Here's How to Stay In Touch!</h1>
            <div class="post-meta">
                <span class="author">By Sterling Cooley</span>
                <span class="date">July 30th, 2019</span>
            </div>
        </header>

        <img src="/images/blog/shutterstock_92693746.jpg" alt="Stay connected with VagusHub" class="post-image">

        <div class="post-body">
            <p>In this amazing world of social media, and exponential growth of groups, there can naturally be people who wish to shut it down.</p>

            <p>Unfortunately it seems we are currently under threat of being attacked.</p>

            <p>I can't say why, as that's not my place.</p>

            <p>But perhaps it's because the Vagus Nerve Stimulation & Repair group is growing at such a rapid pace, it makes others feel they are being left behind in the dust.</p>

            <p>It's unfortunate that others seem to think one person's gain, is another person's loss.</p>

            <p>This group has been extraordinarily helpful to many, and it would be a shame if it were shut down.</p>

            <p>But, we must have backup plans in case that happens.</p>

            <p>You may stay in touch, on a backup e-mail list, in case the Facebook group does get shut down for any reason.</p>

            <!-- Zapier Interfaces Embed: Sends email invite to Vagus Skool -->
            <div class="newsletter-signup">
                <h2>Join Vagus Skool Instantly</h2>
                <p>Enter your email below to receive an instant invite link to our free Vagus Skool community.</p>
                <script type='module' src='https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js'></script>
                <zapier-interfaces-page-embed page-id='cm7a22u2g001scwy8qarntors' no-background='true' style='max-width: 900px; height: 500px;'></zapier-interfaces-page-embed>
            </div>


        </div>

        <%- include('../partials/author-card') %>
    </article>
</main>

<%- include('../partials/footer') %> 