<%- include('../partials/header') %>

<main class="blog-post-page">
    <article class="blog-post-content">
        <header class="post-header">
            <h1>We Can Go Away Any Day: Here's How to Stay In Touch!</h1>
            <div class="post-meta">
                <span class="author">By Sterling Cooley</span>
                <span class="date">July 30th, 2019</span>
            </div>
        </header>

        <img src="/images/blog/shutterstock_92693746.jpg" alt="Stay connected with VagusHub" class="post-image">

        <div class="post-body">
            <p>In this amazing world of social media, and exponential growth of groups, there can naturally be people who wish to shut it down.</p>

            <p>Unfortunately it seems we are currently under threat of being attacked.</p>

            <p>I can't say why, as that's not my place.</p>

            <p>But perhaps it's because the Vagus Nerve Stimulation & Repair group is growing at such a rapid pace, it makes others feel they are being left behind in the dust.</p>

            <p>It's unfortunate that others seem to think one person's gain, is another person's loss.</p>

            <p>This group has been extraordinarily helpful to many, and it would be a shame if it were shut down.</p>

            <p>But, we must have backup plans in case that happens.</p>

            <p>You may stay in touch, on a backup e-mail list, in case the Facebook group does get shut down for any reason.</p>

            <!-- Newsletter Signup Section -->
            <div class="newsletter-signup">
                <h2>Sign up for our newsletter</h2>
                <p>Receive the Free Vagus Nerve Stimulation Guidebook, and subscribe to occasional updates in the Vagus Nerve Stimulation World.</p>
                
                <form class="signup-form" action="/subscribe" method="POST">
                    <div class="form-group">
                        <input type="text" name="firstName" placeholder="Enter your First Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>

            <div class="author-bio">
                <img src="/images/blog/17951471_10212858841525943_9023979067200535415_n.jpg" alt="Sterling Cooley" class="author-image">
                <div class="author-info">
                    <h3>Sterling Cooley</h3>
                    <p>Through his Vagus Nerve Stimulation & Repair Program, Sterling has been able to give hope and meaning back to many who felt completely relegated to the trash heaps of history. His work is truly inspired, in that he really lives his work, and is relentless about finding new and novel approaches to fighting auto-immune disorders through Vagus Nerve related stimulation modalities.</p>
                </div>
            </div>
        </div>

        <%- include('../partials/author-card') %>
    </article>
</main>

<%- include('../partials/footer') %> 